<h1>Listing Articles</h1>

<p><%= link_to 'New article', new_article_path %></p><br>

<div id="wrapper">
	
	<table>
		<tr>
			<th>Title</th>
			<th>Text</th>
			<th>Link</th>
		</tr>

		<% @articles.each do |article| %>
		<tr>
			<td> <strong><%= article.title %></strong></td> 
			<td><strong><%= article.text %></strong></td>
			<% link_to 'Show', article_path(article) %>
		</tr>
		<% end %>
	</table>


</div>